<div class="modal-content makeDeal" style="display: none;">
    <form id="makeDealForm">
        <div class="modal-header">
            <h3>Your deal</h3>
        </div>
        <div class="modal-body">
            <input type="text" autocomplete="off" id="dealCount" name="deal" class="form-control" value="" placeholder="Please make a deal" />
        </div>
        <div class="modal-footer stepModalFooter">
            <div class="timerDeal">15</div>
            <div class="stepModalButtons">
                <input type="submit" id="dealBtn" class="btn btn-block modalPlayerButton btn-success" data-dismiss="modal" value="Deal">
            </div>
        </div>
    </form>
</div>