<div class="modal fade" id="errorModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog error-modal-body" role="document">
        <div class="modal-content">
            <div class="modal-body">
                <div class="alert alert-danger" role="alert">
                    <strong class="alert-txt"></strong>
                </div>
            </div>
        </div>
    </div>
</div>