<div class="modal fade" data-keyboard="false" id="historyModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered history-modal-body" role="document">
        <div class="modal-content">
            <div class="modal-body panel panel-default">
                <img src="~/Content/Images/history2.png" alt="">
                <div class="panel-body">
                    <div class="winners-container"></div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" id="close-history-btn" class="btn btn-warning btn-block" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>