<div class="modal fade" data-keyboard="false" id="resultModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered result-modal-body" role="document">
        <div class="modal-content">
            <div class="modal-body">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <img src="~/Content/Images/congratulations.png" alt="">
                        <table class="table" id="Table"></table>
                        <div class="rewards"></div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <div class="btn-group btn-group-justified" role="group" aria-label="Basic example">
                    <button type="button" id="finishGame" class="btn btn-secondary" data-dismiss="modal">Finish game</button>
                    <button type="button" id="nextRound" class="btn btn-secondary" data-dismiss="modal">Continue</button>
                </div>
            </div>
        </div>
    </div>
</div>