<div class="modal fade" id="stepModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog step-modal-body" role="document">
        <div class="modal-content">
            <div class="modal-body">
                <input type="hidden" id="stepId" value="" />
                <h2 class="modal-title" id="exampleModalLabel">Round №<span class="round"></span> </h2>
            </div>
        </div>
    </div>
</div>