<div class="modal fade" data-keyboard="false" id="ruleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered rule-modal-body" role="document">
        <div class="modal-content">
            <div class="modal-body">
                <img src="~/Content/Images/popup-image.png" alt="">
                <h3>Rules</h3>
                <h4>
                    The values ​​of the points of each card: from two to ten - respectively from 2 to 10, the ace - 1 or 11 (11 until the total is not more than 21, then 1),
                    in the so-called. pictures (king, queen, jack) - 10.
                </h4>
                <h4>
                    The dealer deals cards: two cards for each player, and himself. All cards open immediately (visible to the dealer and the player).
                    If the player immediately after the distribution has accumulated 21 points (that is, the player has an ace and 10 or an ace and a picture), then this situation is called blackjack.
                    Next, players who do not have blackjack, are offered a choice or take another card, or stay with those cards (and that amount of points),
                    which in his hand (in this case, the player must tell the dealer "enough" or "enough").
                </h4>
                <h4>
                    Typically, if the player after the new card is taken in the total of 21, the dealer does not ask him anymore and moves on to the next player.
                    If the player has more than 21 points after taking a new card, then this situation is called "bust". The dealer says "a lot" and removes the player's bet in favor of the casino.
                    If the dealer has 21 points (blackjack) in the first two cards, then all the players (except those who also have blackjack) lose. Those with blackjack,
                    remain at their rates, if they did not previously choose to take a win of 1 to 1 or if they did not insure their combination from blackjack.
                    After all the players have finished taking the cards, the dealer says "to himself" and hands out the cards to himself. The general rule of blackjack is that the dealer must stop,
                    as soon as he gets 17 points or more, and is obliged to take until he reaches.
                </h4>
            </div>
            <div class="modal-footer">
                <button type="button" id="startGame" class="btn btn-secondary btn-block" data-dismiss="modal">Let's start</button>
            </div>
        </div>
    </div>
</div>