@{
    ViewData["Title"] = "Home Page";
}

<h1></h1>
<div class="container home-container">
    <div class="card-background mb-3">
        <img class="card-img-top" src="~/Content/Images/cards.png">
    </div>
    <div class="jumbotron jumbotron-fluid">
        <div class="container jumbotron-container">
            <h1 class="display-4">Game "BlackJack"</h1>
            <p class="lead">This is modified game that has been invented in 1724.</p>
        </div>
    </div>
</div>
